<div class="box" (click)="goVideo(detail.snippet.resourceId.videoId)">
  <div class="container">
    <div class="show show-first">
      <img [src]="detail.snippet.thumbnails?.medium.url" class="thumbnail"/>

      <div class="mask">
        <div class="content">
          <h2>{{ detail.snippet.title }}</h2>

          <img src="../../assets/images/play_button.svg" class="play"/>
        </div>
      </div>

    </div>
  </div>

  <p class="date">Published on {{ detail.contentDetails.videoPublishedAt | date:'mediumDate' }}</p>
  <p class="description">{{ detail.snippet.description | slice:0:200}} [...]</p>
</div>