<ul>
  <li *ngFor="let item of (data && data.items ? data.items : [])">
    {{ item.snippet.resourceId.videoId }}
    {{ item.snippet.thumbnails?.medium.url }}
    <p>{{ item.contentDetails.videoPublishedAt }}</p>
    <p>{{ item.snippet.title }}</p>
    <p>{{ item.snippet.description }}</p>
    <img [src]="item.snippet.thumbnails?.medium.url"/>

    <iframe class="youtube-player" type="text/html" width="480" height="385" src="http://www.youtube.com/embed/Y69gu2xv25s"></iframe>
  </li>
</ul>

<pre>
  {{ data | json }}
</pre>